.body-content {
    margin: 0% 5%;
}

#cart {
  position: sticky;
  top: 1px;
  bottom: 20px;


    display: grid;
    grid-template-columns: 70% 20% 10%;
    height: fit-content;
    box-shadow: 5px 5px 10px gray;
    margin-bottom: 30px;
}

#logo-twemman {
    grid-column: 1/2;
    width: 20%;
}

.carttest {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px 0 0 10px;
}

.carticon2 {
    /* cartlogo */
    display: flex;
    align-self: center;
    align-items: center;
    max-width: 50%;
}

.carticon {
    display: flex;
    font-size: 15px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#TP {
    border-radius: 0 10px 10px 0;
    background-color: white;
}

.card1 {
    border-radius: 20px;
    border: 2px solid blue;
}

.PUTTC {
    color: blue;
    font-size: large;
}

.add-rem-btn {
    display: flex;
    justify-content: space-evenly;
}

.ico {
    width: 30px;
    align-self: flex-end;
}

.add {
    width: 30px;
    height: 30px;
    background-color: rgb(188, 241, 163);
}

.rem {
    width: 30px;
    height: 30px;
    background-color: rgb(238, 184, 180);
}

.qte {
    width: 30px;
    height: 30px;
    background-color: rgb(200, 211, 214);

}